{
    "extends": [
        "eslint:recommended",
        "plugin:flowtype/recommended"
    ],
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "no-constant-condition": 0
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    }
}