{
    "extends": [
        "eslint:recommended",
        "plugin:flowtype/recommended"
    ],
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "no-constant-condition": 0,
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "no-nested-ternary": "error",
        "space-infix-ops": "error"
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    }
}
